html
    head
        link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
        script(src='https://js.pusher.com/3.2/pusher.min.js')
        script.
            function onLoad() {
                //Pusher Code
                // Enable pusher logging - don't include this in production
                //Pusher.logToConsole = true;
                var pusher = new Pusher('1784c495a02ce5c67fa9', {
                    cluster: 'eu',
                    encrypted: true
                });
                var channelName = '#{channel}';
                var playerNumber = '#{playerNumber}';
                var channel = pusher.subscribe(channelName);
                channel.bind('client-send_code', function (data) {
                    var playerId = data.playerId;
                    document.getElementById(`player-${playerId}-code`).value = data.code;
                });
                //End Pusher Code

                //setInterval(function(){
                //  var player1Code = document.getElementById('player-0-code').value;
                //  console.log(player1Code)
                //  channel.trigger('client-send_code', {
                //    code: player1Code
                //  });
                //},500)

                //handle button click
                if (playerNumber <= 1) {
                    //setup button listeners
                    //document.getElementById(`player-${playerNumber}-button`).onclick = function (e) {
                    //  console.log('clicked button')
                    //  var code = document.getElementById(`player-${playerNumber}-code`).value;
                    //  console.log(code)
                    //  channel.trigger('client-send_code', {
                    //    playerId: playerNumber,
                    //    code: code
                    //  });
                    //};

                    //setup code change listeners
                    document.getElementById(`player-${playerNumber}-code`).oninput = function (e) {
                        var code = e.srcElement.value;
                        channel.trigger('client-send_code', {
                            playerId: playerNumber,
                            code: code
                        });
                    };
                }
            }
            window.onload = onLoad;
    body
        .room-wrapper
            section#left-side
                .player-name
                    h2 Music Bob
                #player-0-area
                    | This is the player area
                div
                    if playerNumber == 0
                        textarea#player-0-code
                    else
                        textarea#player-0-code(disabled)
                //if playerNumber == 0
                //  button#player-0-button Press Me
            section#right-side
                .player-name
                    h2 Melody Jane
                #player-1-area
                    | This is the player area
                div
                    if playerNumber == 1
                        textarea#player-1-code
                    else
                        textarea#player-1-code(disabled)
                //if playerNumber == 1
                //  button#player-1-button Press Me
